[run]
branch = True

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError.*
    return NotImplemented
    warnings\.warn.*
    def main()
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    except ImportError
    @overload
    @abstractmethod

include = asynctinydb/*

omit = asynctinydb/mypy_plugin.py
